main {
    background-image: linear-gradient(var(--deg), #A100FFFF 0%, #71C4FFFF 100%);
    min-height: 100vh;
}
@property --deg{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotate {
    0%{
        --deg: 360deg;
    }
    100%{
        --deg: 0deg;
    }
}